#gallery {
  list-style: none;
  display: flex;
}

.gallery-item {
  margin: 15px;
}

img {
  width: 380px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
  border-radius: 5px;
}

#validation-input.invalid {
  border-color: #f44336;
}
#text {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}
h3 {
  text-align: center;
  color: #fff;
  background-color: darkcyan;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
